:host {
  position: fixed;      /* ✅ ทำให้ครอบทั้งหน้าจอ */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.buttonstart {
    height: 100vh;              /* เต็มหน้าจอ */
    display: flex;
    justify-content: center;    /* แนวนอน */
    align-items: center;        /* แนวตั้ง */
}
.boxstart {
    padding: 30px 80px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 7mm;
    font-family: monospace ;
    cursor: pointer;
}
.gotologin {
  position: absolute;
  right: 20px;    /* ระยะจากขวา */
  bottom: 0px;
  font-size: 5mm;
  color: white;
  cursor: pointer;
}

.texthome {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10mm;
    font-family: monospace;
    color: white;
}